<a href="https://colab.research.google.com/github/jihami/MachineLearning_Inflean/blob/main/02%EA%B0%95_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np  #라이브러리 임포트

In [ ]:
data = [1,2,3,4,5] #데이터 정의

In [ ]:
arr = np.array(data) #numoy를 통해 행열행태로 바꿈

In [ ]:
arr.shape #데이터 갯구 확인

(5,)

In [ ]:
arr.dtype #데이터 타입확인

dtype('int64')

In [ ]:
np.zeros((9,2)) #0만 자지고 있는 행열 생성

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [ ]:
np.arange(20) #0부터 시작하는 1씩 증가하는 수열생성

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])